body {
    background-color: rgb(247, 148,0);
}

#slogan {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 400px;
    background-color: rgb(0, 99, 247);
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

#get_in_button {
    background-color: rgb(0, 222, 247);
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 895px;
    top: 400px;
    transition: all 0.4s;
    color: rgb(0, 0, 0);
}

#get_in_button:hover {
    transform: scale(1.345);
}

footer {
    /*background-color: #020617;*/
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    position: relative;
    top: 717px;
}