#h1_title {
    background-color: rgb(0, 123, 255);
    color: rgb(255, 162, 0);
    padding: 7px;
    border: 5px solid black;
    text-align: center;
}

body {
   background-color: rgb(255, 162, 0);
   
}

#about_me {
    background-color: rgb(0, 123, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#Visit_Robot_Defeat {
    background-color: orange;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    /*position: relative;
    left: 895px;
    top: 400px;*/
    transition: all 0.4s;
}

#projects {
    background-color: rgb(0, 123, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 20px;

}

ul {
    font-size: 20px;
}

#contact_me {
    background-color: rgb(0, 123, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

#youtube {
    background-color: rgb(0, 123, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

#youtube_channel_image {
    width: 110px;
    position: relative;
    left: 20px;
    top: 20px;
}

#Visit_Robot_Defeat:hover {
    transform: scale(1.155);
}